@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFFAFC;
}

main {
    margin-top: 5%;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #1363DF;
}

.centerItem {
    align-items: center;
}

.custom-button {
    cursor: pointer;
}

.homeTittle {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.5rem;
    margin-top: 15%;
    font-size: 6rem;
    color: #000000;
}

.btnHistory {
    border: 1px solid #000;
    color: #000;
}

.secondSection {
    margin-top: -2%;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 3rem;
        letter-spacing: -0.2rem;
        line-height: 1;
        margin-top: -15%;
    }
    
    
    }